/* barre de navigation taille, couleur et style (nav)*/
nav {border-bottom: 5px; 
    border-bottom-style: double ; 
    border-bottom-color: rgb(12, 26, 71);
}

/*police, affichage (li)*/
li {
    font-family:Lexend ; 
    display: inline-block;
}

/*decoration et couleur (a)*/
a {
    text-decoration: none; 
    color: whitesmoke
} 

/*espacement (li)*/
.bn {
margin-right:4em;
}

/*couleur de fond (body)*/
body {
    background-color: rgb(236, 68, 56);
}