/*bordure footer*/
footer {border: 5px; border-style: solid; background-color: rgb(46, 182, 182);}

/*couleur et police (h5)*/
.er {font-family: lexend;
     margin-right: 5em;
    text-decoration: none;
display: inline-block;}

/*affichage, police et espacement (ul)*/
ul {
    display: inline-block; 
    margin-right: 20em;
    font-family: lexend; 
}

/*décoration, couleur et taille (a)*/
a {
    text-decoration: none; 
    color:black; 
    font-size:small
}

/* affichage et taille*/
.cl {
    display: inline-block; 
    font-size: x-small; 
}
