/*Font family (form, h1)*/
form, h1 {font-family: Lato;}


/*border style, background color, width & radius (legend)*/
legend {
    border-radius: 5%;
    border-style: solid;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius:1em ;
    background-color: white;

}

/*border color, width and radius (fieldset)*/
fieldset { 
    border-color: black;
    border: 3px; border-style: solid;
    background-color: rgb(196, 177, 240);
    border-radius: 5%; 
    border-top-left-radius: 1em; 
    border-top-right-radius: 1em;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    padding-bottom: 2em;
    padding-top: 2em;
     
}

:focus {background-color: rgb(167, 155, 155);}
