h1 {color:rgb(72, 129, 179);}

p {color:dodgerblue}

h5 {color: lightgreen;}

li {color:forestgreen;}

h2 {color: red;}

h3 {color: rgb(17, 43, 187);}

h4 {color: darkviolet;}

a {color: rgb(194, 27, 194);}

.red{color: rgb(230, 33, 33);}

ul {color: rgb(80, 28, 28);}
